<p id="notice"><%= notice %></p>

<p>
  <b>Answer:</b>
  <%= @vote.answer %>
</p>

<p>
  <b>Name:</b>
  <%= @vote.name %>
</p>

<p>
  <b>Date:</b>
  <%= @vote.date %>
</p>


<%= link_to 'Edit', edit_vote_path(@vote) %> |
<%= link_to 'Back', votes_path %>
